body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; }
  @media only screen and (max-width: 300px) {
    body {
      display: none; } }

div, ul, li, p {
  margin: 0;
  padding: 0; }

main {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #FFFFFF; }

.banner {
  background-image: url(../../images/header/bg_header_mob.jpg);
  color: #ffffff;
  height: 38px;
  max-width: 1100px;
  margin: 0 auto;
  display: none; }
  @media only screen and (max-width: 1120px) {
    .banner {
      display: block; } }
  @media only screen and (max-width: 600px) {
    .banner {
      display: none; } }

.time {
  text-align: center;
  font-size: 25px; }

.battary {
  font-size: 25px;
  text-align: right; }

.circle {
  height: 11px;
  width: 11px;
  border: solid 2px #ffffff;
  border-radius: 50%;
  display: inline-block;
  margin: 13px 2px; }

img[alt="wifi"] {
  margin: -25px 10px 0; }

.navigation {
  padding: 14px 12px 12px;
  max-width: 1100px;
  margin: 0 auto; }
  @media only screen and (max-width: 741px) {
    .navigation {
      padding-bottom: 28px; } }
  @media only screen and (max-width: 1120px) {
    .navigation {
      position: relative;
      background-color: #EBEEF1; }
      .navigation nav {
        max-width: 680px;
        margin: 0 auto; } }
    @media only screen and (max-width: 1120px) and (max-width: 830px) {
      .navigation nav {
        margin: 0; } }
    @media only screen and (max-width: 1120px) and (max-width: 741px) {
      .navigation nav {
        margin: 0 auto;
        position: relative;
        max-width: 602px; } }
    @media only screen and (max-width: 1120px) and (max-width: 600px) {
      .navigation nav {
        margin: 5px auto 0;
        text-align: center; } }

  .navigation div {
    display: inline-block; }

div[class="logo"] {
  background-image: url(../../images/header/logo-lg.png);
  width: 166px;
  height: 39px;
  margin-top: -25px;
  margin-right: 16px; }
  @media only screen and (max-width: 1120px) {
    div[class="logo"] {
      background-image: url(../../images/header/logo-md.png);
      width: 199px;
      height: 47px;
      margin-bottom: -5px; } }
  @media only screen and (max-width: 741px) {
    div[class="logo"] {
      background-image: url(../../images/header/logo_mob.png);
      width: 213px;
      height: 167px;
      margin-top: 14px; } }
  @media only screen and (max-width: 600px) {
    div[class="logo"] {
      margin-top: -10px; } }

@media only screen and (max-width: 781px) {
  #phone_private {
    margin-left: -20px; } }
@media only screen and (max-width: 741px) {
  #phone_private {
    position: absolute;
    top: 42px;
    right: 0px; } }
@media only screen and (max-width: 600px) {
  #phone_private {
    position: static;
    margin: 0 10px; } }
@media only screen and (max-width: 400px) {
  #phone_private {
    margin: 0; } }

@media only screen and (max-width: 741px) {
  #private {
    display: block; } }

@media only screen and (max-width: 1120px) {
  .nav_element > ul {
    display: none; } }

.sandwich {
  width: 73px;
  height: 73px;
  background-color: #68788b;
  text-align: center;
  padding-top: 24px;
  display: none;
  cursor: pointer; }
  @media only screen and (max-width: 1120px) {
    .sandwich {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0; } }
  @media only screen and (max-width: 741px) {
    .sandwich {
      display: none; } }

#company {
  width: 101px; }

#services {
  width: 60px; }

.nav_element > ul li {
  display: inline-block;
  text-align: left;
  margin: 15px 12.5px 0 12.5px;
  color: rgba(1, 1, 1, 0.6);
  font-size: 17px;
  height: 32px;
  width: 80px; }
  .nav_element > ul li a {
    text-decoration: none;
    color: rgba(1, 1, 1, 0.6); }
  .nav_element > ul li a:hover {
    font-weight: bold;
    color: #000000; }

.nav_element > p {
  margin-right: 35px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.67; }
  @media only screen and (max-width: 1120px) {
    .nav_element > p {
      margin: 0 14px;
      font-size: 20px; } }
  @media only screen and (max-width: 767px) {
    .nav_element > p {
      margin: 0 5px; } }
  @media only screen and (max-width: 741px) {
    .nav_element > p {
      font-size: 40px;
      margin-bottom: 10px; } }
  @media only screen and (max-width: 375px) {
    .nav_element > p {
      font-size: 30px;
      margin-top: 10px;
      margin-bottom: 10px; } }

.private_office {
  width: 185.5px;
  height: 47.3px;
  background-color: #54a6ec;
  font-size: 18.9px;
  font-weight: 300;
  line-height: 1.67;
  color: #ffffff;
  border: none; }
  @media only screen and (max-width: 741px) {
    .private_office {
      width: 244px;
      height: 62.3px;
      font-size: 25.4px; } }
  @media only screen and (max-width: 380px) {
    .private_office {
      width: 185.5px;
      height: 47.3px;
      font-size: 18.9px; } }

.private_office:hover {
  color: #54A6EC;
  background-color: #ffffff;
  border: 2px solid #54A6EC; }

.language {
  width: 56.9px;
  height: 47.3px;
  font-size: 18px;
  margin: 0 9px;
  text-align: center;
  padding-top: 10px;
  border: solid 2px rgba(1, 1, 1, 0.6);
  color: rgba(1, 1, 1, 0.6); }
  @media only screen and (max-width: 741px) {
    .language {
      width: 73.2px;
      height: 62.3px;
      font-size: 25.4px; } }
  @media only screen and (max-width: 380px) {
    .language {
      width: 56.9px;
      height: 47.3px;
      font-size: 18px; } }

.pop_up_menu {
  margin: 0;
  display: none; }
  @media only screen and (max-width: 641px) {
    .pop_up_menu {
      display: block; } }
  .pop_up_menu div {
    text-align: center; }
    .pop_up_menu div i {
      color: rgba(0, 0, 0, 0.6);
      margin-top: 30px; }
    .pop_up_menu div i:hover {
      color: green;
      font-size: 40px; }

#text {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.6);
  margin: 16px 0; }

.pop-up {
  text-align: center;
  display: none; }
  .pop-up p {
    display: inline-block;
    margin: 20px 5%;
    font-size: 16px; }
    @media only screen and (max-width: 641px) {
      .pop-up p {
        margin: 0 2%; } }
    @media only screen and (max-width: 375px) {
      .pop-up p {
        margin: 0 1%;
        font-size: 14px; } }
    .pop-up p a {
      color: rgba(0, 0, 0, 0.6); }
    .pop-up p a:hover {
      text-decoration: underline;
      color: black; }

.company_info {
  background-image: url(../../images/banner/banner.png);
  padding: 120px 119px 70px;
  color: #ffffff; }
  @media only screen and (max-width: 1150px) {
    .company_info {
      padding-left: 5%;
      padding-right: 5%; } }
  @media only screen and (max-width: 900px) {
    .company_info {
      padding-top: 100px;
      padding-left: 3%;
      padding-right: 3%; } }
  @media only screen and (max-width: 769px) {
    .company_info {
      background-image: url(../../images/banner/banner_ipad.png);
      padding-top: 60px; } }
  @media only screen and (max-width: 641px) {
    .company_info {
      background-image: url(../../images/banner/banner_mob.png); } }
  @media only screen and (max-width: 460px) {
    .company_info {
      background-image: url(../../images/banner/bg_mob.jpg); } }
  .company_info h2 {
    font-size: 48px;
    margin: 0;
    font-family: 'Roboto';
    max-width: 700px; }
  .company_info p {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    margin-top: 40px; }
    @media only screen and (max-width: 641px) {
      .company_info p {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.25; } }
    @media only screen and (max-width: 460px) {
      .company_info p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.25; } }

@media only screen and (max-width: 769px) {
  .banner_content {
    display: none; } }

.banner_mob_content {
  display: none; }
  @media only screen and (max-width: 769px) {
    .banner_mob_content {
      display: block; } }

.ten_reasons {
  background-color: #FFFFFF; }
  .ten_reasons h2 {
    max-width: 620px;
    font-size: 40px;
    font-weight: 100;
    line-height: 1.2;
    text-align: center;
    color: #000000;
    font-family: 'Roboto';
    margin: 50px auto 40px; }

.reasons_elements {
  margin: 0 auto;
  max-width: 1062px;
  padding: 0 5px; }
  @media only screen and (max-width: 1065px) {
    .reasons_elements {
      max-width: 738px; } }
  @media only screen and (max-width: 767px) {
    .reasons_elements {
      max-width: 494px; } }
  @media only screen and (max-width: 494px) {
    .reasons_elements {
      max-width: 250px; } }

.some_element {
  height: 140px;
  width: 240px;
  display: inline-block;
  margin: 10px 10px;
  text-align: center; }
  @media only screen and (max-width: 1065px) {
    .some_element {
      margin-left: 0;
      margin-right: 0; } }
  .some_element div {
    width: 67px;
    height: 67px;
    margin: 0 auto; }
  .some_element p {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 300;
    color: #000000; }
    .some_element p span {
      font-weight: 700;
      font-family: sans-serif; }

#hands {
  padding-top: 15px; }

img[alt="medal"] {
  margin-top: -5px; }

img[alt="juggling-ball"] {
  margin-top: -5px; }

.row {
  margin: 0; }

.colocation {
  font-size: 20px;
  font-weight: 100;
  line-height: 1.5;
  text-align: left;
  color: #000000;
  font-family: 'Roboto';
  max-width: 1100px;
  margin: 0 auto;
  padding: 10px; }
  @media only screen and (max-width: 1120px) {
    .colocation {
      max-width: 740px; } }
  @media only screen and (max-width: 580px) {
    .colocation h2 {
      margin-top: 0; } }

@media only screen and (max-width: 767px) {
  .price-block-heing {
    height: 805px; } }
@media only screen and (max-width: 580px) {
  .price-block-heing {
    height: 546px; } }

.layout {
  font-family: sans-serif;
  padding-top: 13px;
  margin-top: 70px;
  color: #423d31;
  text-align: center;
  margin: 70px auto 0; }
  @media only screen and (max-width: 1120px) {
    .layout {
      font-size: 14px; } }
  @media only screen and (max-width: 820px) {
    .layout {
      margin-left: -10px; } }
  @media only screen and (max-width: 767px) {
    .layout {
      margin: 70px auto 0;
      font-size: 24px; } }
  @media only screen and (max-width: 580px) {
    .layout {
      font-size: 14px; } }
  .layout article {
    border-bottom: solid 1px #909090;
    padding-bottom: 28px; }
    @media only screen and (max-width: 1120px) {
      .layout article {
        padding-bottom: 19px; } }
  .layout h3 {
    text-align: center;
    font-size: 17px;
    text-align: center;
    margin: 0 25px 20px;
    font-weight: 700; }
    @media only screen and (max-width: 1120px) {
      .layout h3 {
        font-size: 12px;
        margin: 0 16px 9px; } }
    @media only screen and (max-width: 767px) {
      .layout h3 {
        font-size: 24px; } }
    @media only screen and (max-width: 580px) {
      .layout h3 {
        font-size: 12px;
        margin: 0 16px 9px; } }
  .layout p {
    margin: 0 37px;
    padding-bottom: 28px;
    padding-top: 10px; }
    @media only screen and (max-width: 1120px) {
      .layout p {
        font-size: 12px;
        padding-bottom: 18px;
        padding-top: 8px;
        margin: 0 23px; } }
    @media only screen and (max-width: 767px) {
      .layout p {
        padding-top: 16px;
        padding-bottom: 25px; } }
    @media only screen and (max-width: 580px) {
      .layout p {
        font-size: 12px;
        padding-bottom: 18px;
        padding-top: 8px;
        margin: 0 23px; } }
  .layout span {
    font-weight: 500;
    font-family: sans-serif; }
  .layout button {
    width: 302px;
    height: 65px;
    border: solid 2px #54a5ec;
    font-family: sans-serif;
    margin: 0 auto; }
    @media only screen and (max-width: 1120px) {
      .layout button {
        width: 204px;
        height: 44px; } }
    @media only screen and (max-width: 767px) {
      .layout button {
        width: 350px;
        height: 75.3px;
        font-size: 23.2px; } }
    @media only screen and (max-width: 580px) {
      .layout button {
        width: 204px;
        height: 44px; } }
  .layout button:hover {
    color: green;
    border: 2px solid green;
    background-color: #ffffff; }

.how {
  color: #54a5ec; }

.what {
  color: #000000; }

.layout_border {
  border-bottom: solid 1px #909090; }

.layout_left {
  width: 347px;
  height: 680px;
  background-color: #eaf1f7; }
  .layout_left h3 {
    margin-top: 20px; }
  .layout_left p {
    font-size: 20px; }
  .layout_left button {
    background-color: #eaf1f7;
    color: #54a5ec; }
  @media only screen and (max-width: 1120px) {
    .layout_left {
      width: 234px;
      height: 460px;
      background-color: #eaf1f7; }
      .layout_left h3 {
        margin-top: 18px; }
      .layout_left p {
        font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .layout_left {
      width: 402px;
      height: 735px;
      background-color: #eaf1f7; }
      .layout_left h3 {
        margin-top: 37px; }
      .layout_left p {
        font-size: 24px; } }
  @media only screen and (max-width: 580px) {
    .layout_left {
      width: 234px;
      height: 476px;
      background-color: #eaf1f7; }
      .layout_left button {
        margin-top: 5px; }
      .layout_left h3 {
        margin-bottom: 0; }
      .layout_left h3 {
        margin-top: 28px; }
      .layout_left p {
        font-size: 14px; } }

.layout_center {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  margin-top: 59px;
  width: 347px;
  height: 705px;
  background-color: #FFFFFF; }
  .layout_center button {
    margin-top: 10px; }
  .layout_center h3 {
    margin-top: 20px; }
  .layout_center p {
    font-size: 20px; }
  .layout_center button {
    background-color: #54A6ED;
    color: #FFFFFF; }
  @media only screen and (max-width: 1120px) {
    .layout_center {
      width: 234px;
      height: 476px;
      background-color: #FFFFFF; }
      .layout_center button {
        margin-top: 5px; }
      .layout_center h3 {
        margin-bottom: 0; }
      .layout_center h3 {
        margin-top: 28px; }
      .layout_center p {
        font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .layout_center {
      width: 402px;
      height: 735px;
      background-color: #FFFFFF; }
      .layout_center h3 {
        margin-top: 37px; }
      .layout_center p {
        font-size: 24px; } }
  @media only screen and (max-width: 580px) {
    .layout_center {
      width: 234px;
      height: 476px;
      background-color: #FFFFFF; }
      .layout_center button {
        margin-top: 5px; }
      .layout_center h3 {
        margin-bottom: 0; }
      .layout_center h3 {
        margin-top: 28px; }
      .layout_center p {
        font-size: 14px; } }

.layout_right {
  width: 347px;
  height: 680px;
  background-color: #eaf1f7; }
  .layout_right h3 {
    margin-top: 60px; }
  .layout_right p {
    font-size: 20px; }
  .layout_right button {
    background-color: #eaf1f7;
    color: #54a5ec; }
  @media only screen and (max-width: 1120px) {
    .layout_right {
      width: 234px;
      height: 460px;
      background-color: #eaf1f7; }
      .layout_right h3 {
        margin-top: 40px; }
      .layout_right p {
        font-size: 14px; } }
  @media only screen and (max-width: 767px) {
    .layout_right {
      width: 402px;
      height: 735px;
      background-color: #eaf1f7; }
      .layout_right h3 {
        margin-top: 37px; }
      .layout_right p {
        font-size: 24px; } }
  @media only screen and (max-width: 580px) {
    .layout_right {
      width: 234px;
      height: 476px;
      background-color: #eaf1f7; }
      .layout_right button {
        margin-top: 5px; }
      .layout_right h3 {
        margin-bottom: 0; }
      .layout_right h3 {
        margin-top: 28px; }
      .layout_right p {
        font-size: 14px; } }

.equipment {
  text-align: right; }

.tape_blue {
  width: 0;
  height: 0;
  border-style: solid;
  color: white;
  margin-left: 177px;
  border-width: 20px 150px 20px 20px;
  border-color: #56A6ED #56A6ED #56A6ED #EAF1F7; }
  @media only screen and (max-width: 1120px) {
    .tape_blue {
      border-width: 12px 150px 12px 12px; } }
  @media only screen and (max-width: 767px) {
    .tape_blue {
      border-width: 18px 150px 18px 18px; } }
  @media only screen and (max-width: 580px) {
    .tape_blue {
      border-width: 12px 150px 12px 12px; } }
  @media only screen and (max-width: 1120px) {
    .tape_blue {
      width: 0;
      height: 0;
      border-style: solid;
      color: white;
      margin-left: 72px;
      border-width: 20px 150px 20px 20px;
      border-color: #56A6ED #56A6ED #56A6ED #EAF1F7; } }
  @media only screen and (max-width: 1120px) and (max-width: 1120px) {
    .tape_blue {
      border-width: 12px 150px 12px 12px; } }
  @media only screen and (max-width: 1120px) and (max-width: 767px) {
    .tape_blue {
      border-width: 18px 150px 18px 18px; } }
  @media only screen and (max-width: 1120px) and (max-width: 580px) {
    .tape_blue {
      border-width: 12px 150px 12px 12px; } }

.tape_red {
  width: 0;
  height: 0;
  border-style: solid;
  color: white;
  margin-left: 28px;
  border-width: 20px 300px 20px 20px;
  border-color: #ED556E #ED556E #ED556E #FFFFFF; }
  @media only screen and (max-width: 1120px) {
    .tape_red {
      border-width: 12px 300px 12px 12px; } }
  @media only screen and (max-width: 767px) {
    .tape_red {
      border-width: 18px 300px 18px 18px; } }
  @media only screen and (max-width: 580px) {
    .tape_red {
      border-width: 12px 300px 12px 12px; } }
  @media only screen and (max-width: 1120px) {
    .tape_red {
      width: 0;
      height: 0;
      border-style: solid;
      color: white;
      margin-left: 62px;
      border-width: 20px 160px 20px 20px;
      border-color: #ED556E #ED556E #ED556E #FFFFFF; } }
  @media only screen and (max-width: 1120px) and (max-width: 1120px) {
    .tape_red {
      border-width: 12px 160px 12px 12px; } }
  @media only screen and (max-width: 1120px) and (max-width: 767px) {
    .tape_red {
      border-width: 18px 160px 18px 18px; } }
  @media only screen and (max-width: 1120px) and (max-width: 580px) {
    .tape_red {
      border-width: 12px 160px 12px 12px; } }

  @media only screen and (max-width: 767px) {
    .tape_red {
      width: 0;
      height: 0;
      border-style: solid;
      color: white;
      margin-left: 111px;
      border-width: 20px 273px 20px 20px;
      border-color: #ED556E #ED556E #ED556E #FFFFFF; } }
  @media only screen and (max-width: 767px) and (max-width: 1120px) {
    .tape_red {
      border-width: 12px 273px 12px 12px; } }
  @media only screen and (max-width: 767px) and (max-width: 767px) {
    .tape_red {
      border-width: 18px 273px 18px 18px; } }
  @media only screen and (max-width: 767px) and (max-width: 580px) {
    .tape_red {
      border-width: 12px 273px 12px 12px; } }

  @media only screen and (max-width: 580px) {
    .tape_red {
      width: 0;
      height: 0;
      border-style: solid;
      color: white;
      margin-left: 62px;
      border-width: 20px 160px 20px 20px;
      border-color: #ED556E #ED556E #ED556E #FFFFFF; } }
  @media only screen and (max-width: 580px) and (max-width: 1120px) {
    .tape_red {
      border-width: 12px 160px 12px 12px; } }
  @media only screen and (max-width: 580px) and (max-width: 767px) {
    .tape_red {
      border-width: 18px 160px 18px 18px; } }
  @media only screen and (max-width: 580px) and (max-width: 580px) {
    .tape_red {
      border-width: 12px 160px 12px 12px; } }

.task_red {
  margin-top: -20px;
  width: 300px;
  text-align: center;
  padding: 10px;
  font-family: Roboto;
  font-size: 14px; }
  @media only screen and (max-width: 1120px) {
    .task_red {
      font-size: 11px;
      margin-top: -18px; } }
  @media only screen and (max-width: 1120px) {
    .task_red {
      font-size: 14px;
      margin-top: -22px; } }
  @media only screen and (max-width: 1120px) {
    .task_red {
      margin-top: -20px;
      width: 160px;
      text-align: center;
      padding: 10px;
      font-family: Roboto;
      font-size: 14px; } }
  @media only screen and (max-width: 1120px) and (max-width: 1120px) {
    .task_red {
      font-size: 11px;
      margin-top: -18px; } }
  @media only screen and (max-width: 1120px) and (max-width: 1120px) {
    .task_red {
      font-size: 14px;
      margin-top: -22px; } }

  @media only screen and (max-width: 767px) {
    .task_red {
      margin-top: -20px;
      width: 260px;
      text-align: center;
      padding: 10px;
      font-family: Roboto;
      font-size: 14px; } }
  @media only screen and (max-width: 767px) and (max-width: 1120px) {
    .task_red {
      font-size: 11px;
      margin-top: -18px; } }
  @media only screen and (max-width: 767px) and (max-width: 1120px) {
    .task_red {
      font-size: 14px;
      margin-top: -22px; } }

  @media only screen and (max-width: 580px) {
    .task_red {
      margin-top: -20px;
      width: 160px;
      text-align: center;
      padding: 10px;
      font-family: Roboto;
      font-size: 14px; } }
  @media only screen and (max-width: 580px) and (max-width: 1120px) {
    .task_red {
      font-size: 11px;
      margin-top: -18px; } }
  @media only screen and (max-width: 580px) and (max-width: 1120px) {
    .task_red {
      font-size: 14px;
      margin-top: -22px; } }

.task_blue {
  margin-top: -20px;
  width: 150px;
  text-align: center;
  padding: 10px;
  font-family: Roboto;
  font-size: 14px; }
  @media only screen and (max-width: 1120px) {
    .task_blue {
      font-size: 11px;
      margin-top: -18px; } }
  @media only screen and (max-width: 1120px) {
    .task_blue {
      font-size: 14px;
      margin-top: -22px; } }

.chevron_left img {
  cursor: pointer; }
@media only screen and (max-width: 767px) {
  .chevron_left {
    padding-top: 370px;
    text-align: right; } }
@media only screen and (max-width: 580px) {
  .chevron_left {
    padding-top: 248px; } }
@media only screen and (max-width: 410px) {
  .chevron_left {
    display: none; } }

@media only screen and (max-width: 410px) {
  .chevron_center {
    width: 100%; } }

.chevron_right {
  cursor: pointer; }
  @media only screen and (max-width: 767px) {
    .chevron_right {
      padding-top: 370px;
      margin-left: -25px; } }
  @media only screen and (max-width: 580px) {
    .chevron_right {
      padding-top: 248px;
      margin-left: -35px; } }
  @media only screen and (max-width: 410px) {
    .chevron_right {
      display: none; } }

.price_button {
  display: none;
  width: 130px;
  margin: 0 auto; }
  @media only screen and (max-width: 767px) {
    .price_button {
      display: block; } }
  .price_button button {
    border: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px #6B6D7B;
    background-color: #FFFFFF;
    margin: 20px 10px; }
  .price_button button:hover {
    background-color: gainsboro; }
  .price_button button:active {
    background-color: red; }
  .price_button button:focus {
    outline: none;
    background-color: gray; }

@media only screen and (max-width: 768px) {
  .order_lg {
    display: none; } }

.order_md {
  display: none; }
  @media only screen and (max-width: 768px) {
    .order_md {
      display: block; } }

.about_data {
  background-color: #68788b;
  color: #ffffff;
  font-family: 'Roboto';
  padding-bottom: 24px; }
  .about_data h2 {
    font-size: 40px;
    text-align: center;
    padding: 70px; }
  .about_data article {
    max-width: 930px;
    margin: 0  auto; }
    @media only screen and (max-width: 910px) {
      .about_data article {
        max-width: 730px; } }
    @media only screen and (max-width: 730px) {
      .about_data article {
        max-width: 500px; } }
    @media only screen and (max-width: 500px) {
      .about_data article {
        max-width: 250px; } }
  .about_data div {
    display: inline-table;
    width: 300px;
    height: 180px;
    text-align: center; }
    @media only screen and (max-width: 910px) {
      .about_data div {
        width: 240px; } }
    .about_data div div {
      padding: 0 30px; }
      @media only screen and (max-width: 910px) {
        .about_data div div {
          padding: 0; } }
    .about_data div h4 {
      font-size: 20px; }
      .about_data div h4 span {
        font-family: sans-serif; }
    .about_data div p {
      font-size: 14px; }

.reviews {
  background-color: #f23857;
  color: #ffffff; }
  .reviews div {
    text-align: center;
    padding: 0 10px; }
  .reviews p {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.5px; }
    @media only screen and (max-width: 640px) {
      .reviews p {
        font-size: 30px;
        margin: 0 44px; } }
    @media only screen and (max-width: 460px) {
      .reviews p {
        font-size: 20px; } }
  .reviews button {
    width: 282.9px;
    height: 47.3px;
    opacity: 0.7;
    font-size: 20px;
    background-color: #f23857;
    border: solid 2px #ffffff;
    margin: 20px 0 20px 47px; }
    @media only screen and (max-width: 820px) {
      .reviews button {
        width: 249px;
        margin-left: 19px; } }
    @media only screen and (max-width: 740px) {
      .reviews button {
        margin-left: 0; } }
    @media only screen and (max-width: 640px) {
      .reviews button {
        width: 373.6px;
        height: 70.2px;
        font-size: 30px; } }
    @media only screen and (max-width: 460px) {
      .reviews button {
        width: 282.9px;
        height: 47.3px;
        font-size: 20px; } }
  .reviews button:hover {
    background-color: #ffffff;
    color: #F23857; }

.order {
  background-image: url(../../images/about/to_order.png);
  font-family: 'Roboto';
  color: #ffffff;
  padding-top: 28px;
  text-align: center;
  padding-bottom: 100px;
  background-size: cover; }
  .order h2 {
    font-size: 40px;
    padding: 0 10px; }
  .order p {
    font-size: 20px;
    padding: 0 10px; }
  .order button {
    width: 181.2px;
    height: 45px;
    background-color: #54a6ec;
    font-size: 18px;
    margin-top: 20px;
    border: none; }
  .order button:hover {
    font-size: 25px;
    font-weight: bold;
    border: 2px solid #ffffff; }

.order_down {
  margin-top: 170px; }
  @media only screen and (max-width: 768px) {
    .order_down {
      display: none; } }

footer[class="footer_up"] {
  background-color: #152435;
  padding-top: 25px;
  padding-bottom: 5px;
  position: relative; }
  footer[class="footer_up"] article {
    margin: 0 auto;
    max-width: 1040px; }
    @media only screen and (max-width: 1120px) {
      footer[class="footer_up"] article {
        max-width: 900px; } }
    @media only screen and (max-width: 990px) {
      footer[class="footer_up"] article {
        max-width: 760px;
        padding-bottom: 50px; } }
    @media only screen and (max-width: 580px) {
      footer[class="footer_up"] article {
        max-width: 320px; } }
    footer[class="footer_up"] article div {
      color: #ffffff;
      font-size: 12px; }
      footer[class="footer_up"] article div img {
        margin-right: 20px; }
        @media only screen and (max-width: 580px) {
          footer[class="footer_up"] article div img {
            margin-bottom: 10px; } }
      @media only screen and (max-width: 990px) {
        footer[class="footer_up"] article div {
          padding: 0 0 0 15px; } }
      @media only screen and (max-width: 740px) {
        footer[class="footer_up"] article div {
          font-size: 28px;
          padding-left: 20px; } }
      @media only screen and (max-width: 580px) {
        footer[class="footer_up"] article div {
          font-size: 16px; } }

.anchor {
  border: solid 2px #2B4866;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 8px 12px 18px;
  color: #2B4866;
  cursor: pointer;
  position: absolute;
  right: 10%; }
  @media only screen and (max-width: 1120px) {
    .anchor {
      right: 5%; } }
  @media only screen and (max-width: 1020px) {
    .anchor {
      display: none; } }
  .anchor a:hover {
    color: greenyellow; }

.footer_content {
  border-left: 1px solid #2B4866;
  padding: 0 120px 0 20px;
  display: inline-table; }
  @media only screen and (max-width: 1120px) {
    .footer_content {
      padding: 0 70px 0 20px; } }
  @media only screen and (max-width: 990px) {
    .footer_content {
      margin-right: 10px; } }
  @media only screen and (max-width: 740px) {
    .footer_content {
      display: block;
      border: none; } }
  .footer_content p a {
    color: #ffffff;
    text-decoration: none; }
  .footer_content p a:hover {
    color: greenyellow;
    text-decoration: underline; }

.footer_img {
  display: inline-table; }
  @media only screen and (max-width: 740px) {
    .footer_img {
      display: none; } }

.footer_img_xs {
  display: none; }
  @media only screen and (max-width: 740px) {
    .footer_img_xs {
      display: inline; } }

.footer_contact {
  border-left: 1px solid #2B4866;
  padding: 0 70px 0 20px;
  display: inline-table; }
  @media only screen and (max-width: 990px) {
    .footer_contact {
      margin-right: 10px; } }
  @media only screen and (max-width: 580px) {
    .footer_contact {
      display: block;
      border: none; } }
  .footer_contact a {
    font-size: 15px;
    text-decoration: underline; }
    @media only screen and (max-width: 740px) {
      .footer_contact a {
        font-size: 30px; } }
    @media only screen and (max-width: 580px) {
      .footer_contact a {
        font-size: 14px; } }
  .footer_contact a:hover {
    color: greenyellow; }

.link_md {
  display: none; }
  @media only screen and (max-width: 990px) {
    .link_md {
      display: block; } }

@media only screen and (max-width: 990px) {
  .link_lg {
    display: none; } }

footer[class="down"] {
  background-color: #0B121C;
  padding: 1px; }
  footer[class="down"] article {
    max-width: 1040px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 12px;
    margin-bottom: 10px; }
    @media only screen and (max-width: 1120px) {
      footer[class="down"] article {
        max-width: 900px; } }
    @media only screen and (max-width: 990px) {
      footer[class="down"] article {
        max-width: 690px; } }
    @media only screen and (max-width: 740px) {
      footer[class="down"] article {
        padding: 25px; } }
    footer[class="down"] article span {
      width: 340px;
      padding-right: 190px; }
      @media only screen and (max-width: 1120px) {
        footer[class="down"] article span {
          padding-right: 70px; } }
      @media only screen and (max-width: 990px) {
        footer[class="down"] article span {
          padding-right: 25px; } }
      @media only screen and (max-width: 850px) {
        footer[class="down"] article span {
          padding-right: 25px; } }
      @media only screen and (max-width: 740px) {
        footer[class="down"] article span {
          font-size: 28px;
          display: block;
          width: 450px;
          padding-bottom: 10px; } }
      @media only screen and (max-width: 580px) {
        footer[class="down"] article span {
          font-size: 16px;
          width: 280px; } }
    footer[class="down"] article p {
      display: inline-block; }
      @media only screen and (max-width: 740px) {
        footer[class="down"] article p {
          display: none; } }

.social {
  display: inline-block; }
  .social div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2F353D;
    display: inline-table;
    margin: -5px 0;
    padding: 8px;
    text-align: center; }
    .social div img[alt="facebook"] {
      display: none;
      margin-top: 5px; }
      @media only screen and (max-width: 740px) {
        .social div img[alt="facebook"] {
          display: inline; } }
      @media only screen and (max-width: 580px) {
        .social div img[alt="facebook"] {
          display: none; } }
    .social div img[alt="instagram"] {
      display: none;
      margin-top: 5px; }
      @media only screen and (max-width: 740px) {
        .social div img[alt="instagram"] {
          display: inline; } }
      @media only screen and (max-width: 580px) {
        .social div img[alt="instagram"] {
          display: none; } }
    .social div img[alt="lg_facebook"] {
      margin-left: 6px; }
      @media only screen and (max-width: 740px) {
        .social div img[alt="lg_facebook"] {
          display: none; } }
      @media only screen and (max-width: 580px) {
        .social div img[alt="lg_facebook"] {
          display: inline; } }
    .social div img[alt="lg_instagram"] {
      margin-left: 2px; }
      @media only screen and (max-width: 740px) {
        .social div img[alt="lg_instagram"] {
          display: none; } }
      @media only screen and (max-width: 580px) {
        .social div img[alt="lg_instagram"] {
          display: inline; } }
    @media only screen and (max-width: 740px) {
      .social div {
        width: 60px;
        height: 60px; } }
    @media only screen and (max-width: 580px) {
      .social div {
        width: 35px;
        height: 35px; } }
  .social div:hover {
    background-color: #ABB4BE; }
  @media only screen and (max-width: 740px) {
    .social {
      display: block;
      text-align: right; } }

img[alt="search"] {
  margin-left: -50px; }
  @media only screen and (max-width: 1120px) {
    img[alt="search"] {
      margin-left: 0; } }
  @media only screen and (max-width: 740px) {
    img[alt="search"] {
      display: none; } }

img[alt="logo_footer_down_md"] {
  margin: 0 30px; }
  @media only screen and (max-width: 990px) {
    img[alt="logo_footer_down_md"] {
      margin: 0 20px; } }
  @media only screen and (max-width: 740px) {
    img[alt="logo_footer_down_md"] {
      display: none; } }
  @media only screen and (max-width: 580px) {
    img[alt="logo_footer_down_md"] {
      display: inline; } }

img[alt="logo_footer_down"] {
  display: none; }
  @media only screen and (max-width: 740px) {
    img[alt="logo_footer_down"] {
      display: inline; } }
  @media only screen and (max-width: 580px) {
    img[alt="logo_footer_down"] {
      display: none; } }

.customers {
  font-family: 'Roboto';
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .customers {
      display: none; } }
  .customers h2 {
    font-size: 40px;
    color: black;
    padding: 15px; }
  .customers article {
    position: relative;
    max-width: 1150px;
    margin: 0 auto; }
    @media only screen and (max-width: 1120px) {
      .customers article {
        max-width: 700px; } }
    .customers article div {
      position: relative;
      display: inline-table;
      width: 510px;
      height: 396px;
      background-color: #F4F5F9;
      text-align: left;
      padding: 0 35px;
      margin: 5px;
      z-index: 1; }
      .customers article div h4 {
        font-family: sans-serif;
        font-weight: bold; }
      .customers article div button {
        height: 40px;
        width: 170px;
        border: solid 2px #54A6EC;
        background-color: #F4F5F9;
        margin-top: 35px;
        color: #54A6EC;
        font-weight: 500;
        font-family: sans-serif;
        position: absolute;
        left: 35px;
        bottom: 35px;
        cursor: pointer; }
      .customers article div button:hover {
        border-color: green;
        color: green;
        font-size: 18px; }
      .customers article div p {
        font-style: italic;
        font-size: 18px; }
    .customers article i {
      position: absolute;
      top: 180px;
      color: #7F7F7F;
      cursor: pointer;
      z-index: 2; }
    .customers article i:hover {
      color: green;
      font-size: 40px; }

.fa-chevron-left {
  left: 20px; }

.fa-chevron-right {
  right: 20px; }

img[alt="fora-telecom"] {
  position: absolute;
  left: 35px; }

@media only screen and (max-width: 1120px) {
  #megafon {
    display: none; } }

.customers_md {
  display: none; }
  @media only screen and (max-width: 768px) {
    .customers_md {
      display: inline;
      font-family: 'Roboto'; }
      .customers_md h2 {
        font-size: 40px;
        text-align: center; }
      .customers_md article {
        text-align: center;
        padding: 5px; } }
    @media only screen and (max-width: 768px) and (max-width: 690px) {
      .customers_md article {
        padding: 0;
        text-align: center; } }

@media only screen and (max-width: 740px) {
  img[class="logo_md"] {
    display: none; } }

.logo_xs {
  display: none;
  width: 220px;
  text-align: center; }
  .logo_xs img {
    margin-top: 20px; }
    @media only screen and (max-width: 630px) {
      .logo_xs img {
        display: none; } }
  @media only screen and (max-width: 740px) {
    .logo_xs {
      display: inline-table; } }
  @media only screen and (max-width: 690px) {
    .logo_xs {
      width: 200px; } }

#sis {
  display: none; }
  @media only screen and (max-width: 630px) {
    #sis {
      display: block;
      margin: 0 auto; } }

.md_up img {
  margin: 0 15px; }
  @media only screen and (max-width: 740px) {
    .md_up img {
      margin: 0; } }

h6 {
  height: 0.1px; }

/*validator*/

/*# sourceMappingURL=style.css.map */
